<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::html(
    ~{::title}, 
    ~{::content},
    ~{},
    ~{}
)}">


<title>Add New Product</title>

<th:block th:fragment="content">
    <div class="container mt-5">
        <h1 class="mb-4">Create New Product</h1>

        <form th:object="${product}" method="post">
            <div th:replace="~{products/product-form-field::fields}"></div>
            <button type="submit" class="btn btn-primary">Create Product</button>
        </form>
        
    </div>
    </th:fragment>
</th:block>

</html>