<html lang="en" th:replace="~{base::html(
    ~{::title}, 
    ~{::content},
    ~{},
    ~{}
)}">

<title>Products</title>

<th:block th:fragment="content">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.category.name}"></td>
                <td>
                    <a th:href="@{/products/{id}(id=${product.id})}">Details</a>
                    <a th:href="@{/products/{id}/edit(id=${product.id})}">Edit</a>
                    <a th:href="@{/products/{id}/delete(id=${product.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>

</html>